 .GridTableContent{
  
 }
 .GridTableContent img {
    vertical-align: middle;
}
.GridTableContent .GTContentTitle td {
    background-color: #C0DBE7;
    color: #333333;
    font-size: 14px;
    padding: 5px 3px;
}
.GridTableContent input {
    margin-right: 3px;
}

.GridTableContent td {
    border: 1px solid #D7E1E1;
    line-height: 18px;
    height:18px;
    text-align:center;
    padding:3px;
    word-wrap: break-word;
}
.GridTableContent tbody {
    border: 0 none;
}
.GridTableContent td table td {
    border: 0 none;
    padding: 0;
}
.GridTableContent tr.GTContentTitle:hover {
    background-color: #C0DBE7;
}